.ai-venv/
/.idea/.gitignore
/.idea/ai-intro.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/cases/CV case/einstein_files/file_0.png
/cases/CV case/einstein_files/file_1.png
/cases/CV case/einstein_files/file_2.png
/cases/CV case/einstein_files/file_3.png
/cases/CV case/einstein_files/file_4.png
/cases/CV case/einstein_files/file_5.png
/cases/CV case/einstein_files/file_6.png
/cases/CV case/einstein_files/file_7.png
/cases/CV case/einstein_files/file_8.png
/cases/CV case/einstein_files/file_9.png
/cases/CV case/einstein_files/file_10.png
/cases/CV case/einstein_files/file_11.png
/cases/CV case/einstein_files/file_12.png
/cases/CV case/einstein_files/file_13.png
/cases/CV case/einstein_files/file_14.png
/cases/CV case/einstein_files/file_15.png
/cases/CV case/einstein_files/file_16.png
/cases/CV case/einstein_files/file_17.png
/cases/CV case/einstein_files/file_18.png
/cases/CV case/einstein_files/file_19.png
/cases/CV case/einstein_files/file_20.png
/cases/CV case/einstein_files/file_21.png
/cases/CV case/einstein_files/file_22.png
/cases/CV case/einstein_files/file_23.png
/cases/CV case/einstein_files/file_24.png
/cases/CV case/einstein_files/file_25.png
/cases/CV case/einstein_files/file_26.png
/cases/CV case/einstein_files/file_27.png
/cases/CV case/einstein_files/file_28.png
/cases/CV case/einstein_files/file_29.png
/cases/CV case/einstein_files/file_30.png
/cases/CV case/einstein_files/file_31.png
/cases/CV case/einstein_files/file_32.png
/cases/CV case/einstein_files/file_33.png
/cases/CV case/einstein_files/file_34.png
/cases/CV case/einstein_files/file_35.png
/cases/CV case/einstein_files/file_36.png
/cases/CV case/einstein_files/file_37.png
/cases/CV case/einstein_files/file_38.png
/cases/CV case/einstein_files/file_39.png
/cases/CV case/einstein_files/file_40.png
/cases/CV case/einstein_files/file_41.png
/cases/CV case/einstein_files/file_42.png
/cases/CV case/einstein_files/file_43.png
/cases/CV case/einstein_files/file_44.png
/cases/CV case/einstein_files/file_45.png
/cases/CV case/.idea/misc.xml
/cases/CV case/.idea/inspectionProfiles/Project_Default.xml
/cases/CV case/.idea/vcs.xml
/cases/CV case/.idea/workspace.xml
